/*  overlay  */
.overlay {
  position: fixed;
  inset: 0;
  display: block;
  padding: 2px;
  pointer-events: auto;
  overflow: hidden;
}

/*  phone wrapper  */
.phone {
  width: min(240px, 60vw);
  pointer-events: auto;

  position: absolute;
  left: 0;
  top: 0;
}

.phone--draggable {
  touch-action: none;
  user-select: none;
  cursor: grab;
}
.phone--draggable:active {
  cursor: grabbing;
}

/*  phone frame  */
.phone__frame {
  position: relative;
  border-radius: 30px;
  padding: 10px;

  background: #ffeda8;
  border: 1px solid #3480b0;

  box-shadow: 0 2px 8px rgba(0,0,0,0.25);
  margin-bottom: 150px;
}

/*  phone screen  */
.phone__screen {
  height: 400px;
  border-radius: 22px;
  background: linear-gradient(
    180deg,
    #3b3238 0%,
    #473c43 45%,
    #6a5b64 100%
  );
  border: 1px solid rgba(255,255,255,0.18);
  box-shadow:
    inset 0 1px 0 rgba(255,255,255,0.10),
    inset 0 -5px 10px rgba(0,0,0,0.18);
  overflow: hidden;
  position: relative;

  --ui:0.85;
}

/*  notch  */
.phone__notch {
  position: absolute;
  top: 18px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 6px;
  border-radius: 999px;
  background: rgba(0,0,0,0.65);
  z-index: 2;
  pointer-events: none;
}

/*  home bar  */
.phone__homebar {
  position: absolute;
  bottom: 14px;
  left: 50%;
  transform: translateX(-50%);
  width: 70px;
  height: 4px;
  border-radius: 999px;

  background: rgba(255,255,255,0.45);
  z-index: 2;
  pointer-events: none;
}
