
.intro__header{
  min-height: 100vh;
  display: grid;
  align-items: center;
	justify-content: center;
  padding: clamp(28px, 6vw, 84px);
	margin-top: -50px;
}

.intro__header-inner{
  width: min(1400px, 94vw);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(6px, 1.1vw, 10px);
  align-items: center;
}

.intro__left{ 
	order: 1; 
	margin-right: -90px;

}

.intro__right{ 
	margin-top: -80px;
	margin-left: -90px;
	order: 1;
}

.intro__title{
  font-family: var(--font-serif);
  font-weight: 700;
  font-size: clamp(56px, 50vh, 88px);
	color:#332d31;
  line-height: 0.2;
  letter-spacing: 0.02em;
	text-align: center;
	transition: transform 220ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.intro__text{
  margin: 0;
  font-family: var(--font-serif, "Georgia", "Times New Roman", serif);
  font-size: clamp(16px, 12vh, 30px);
	font-weight: 500;
	color:#473c43;
	line-height: 1.2;
	letter-spacing: 0.015em;
	text-align: center;
	transition: transform 220ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.intro__text2{
  margin: 0;
  font-family: var(--font-serif, "Georgia", "Times New Roman", serif);
  font-size: clamp(16px, 12vh, 30px);
	font-weight: 500;
	color:#473c43;
	line-height: 1.2;
	letter-spacing: 0.015em;
	text-align: center;
	transition: transform 220ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.js-drop{
  will-change: transform, opacity, filter;
}

.js-hero{
  will-change: transform, opacity, filter;
  transform-origin: 50% 55%;
}

.intro__left{
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  background: #f0e7da;
  border-radius: clamp(18px, 2.4vw, 38px);
  min-height: clamp(320px, 42vw, 620px);
}

.intro__hero{
  width: min(520px, 42vw);
  height: auto;
  display: block;
  mix-blend-mode: multiply;
  filter: contrast(1.06) saturate(0.92);
  transform: translateY(2px);
	backface-visibility: hidden;
	-webkit-font-smoothing: antialiased;
	transition: transform 220ms cubic-bezier(0.075, 0.82, 0.165, 1);
	}

.intro__hero:hover, 
.intro__title:hover,
.intro__text:hover,
.intro__text2:hover {
	transform: translateY(2px) scale(1.06);
}

.intro__left::after{
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
}


/* RESPONSIVE */

@media (max-width: 900px){
  .intro__header-inner{
    grid-template-columns: 1fr;
    gap: 26px;
  }
  .intro__left{ order: 1; min-height: clamp(280px, 62vw, 520px); }
  .intro__right{ order: 2; }
  .intro__hero{
    width: min(520px, 78vw);
  }
  .intro__title{
    font-size: clamp(52px, 12vw, 110px);
    line-height: 0.9;
  }
}
