
.loader.is-loading{
  position: fixed;
  inset: 0;
  background: #095181;
  z-index: 2;
  overflow: hidden;
}
.loader.is-hidden { display: none; }

.loader__center{
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  padding: 0px;
}


.loader__h1{
  display: flex;
  align-items: center;
  white-space: nowrap;
	font-family: var(--font-poiret-one);
  font-size: clamp(20px, 65vw, 120px);
	font-weight: 900;
	letter-spacing: 0.8;
  line-height: 1;
  color: #f0e7da;
}


.loader__h1-start,
.loader__h1-end{
  display: flex;
  overflow: hidden;
	padding-bottom: 20px;
}

.loader__letter{
  display: block;
  position: relative;
}

.loader__box{
  width: 0em;               
  height: 1.25em;
  margin: 0 14px;
  border-radius: 1px;
  overflow: hidden;
  background:#095181;
  position: relative;
  display: flex;

  justify-content: center;
  align-items: center;
  will-change: width, transform, opacity;
}

.loader__box-inner{
  min-width: 0.75em;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


.loader__growing-image{
  position: absolute;
  inset: 0;
  width: 0%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.loader__growing-image-wrap{
  position: absolute;
  width: 100%;
  min-width: 0.75em;
  height: 100%;
}


.loader__cover,
.loader__cover-extra{
  position: absolute;
  inset: 0;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
	object-position: center;
  display: block;
  pointer-events: none;
  user-select: none;
}


.loader__cover-extra.is-1 { z-index: 3; }
.loader__cover-extra.is-2 { z-index: 2; }
.loader__cover-extra.is-3 { z-index: 1; }

img {
  display: block;
  margin: 0 auto;  
	border: none;
  outline: none;
}


